{% extends 'layouts/default.njk' %}

{% block body %}
<link rel="stylesheet" href="/assetsPath/assets/styles/pages/snippets.css">

  <div class="snippets">
    {% include "partials/nav.njk" %}
    {% include "partials/listSnippets.njk" %}

    <section class="snippet-content">
      <div class="actions">
        <a class="actions__edit" href="#" data-modal-open="#edit-snippet" class="edit">Editar</a>
        <form action="/app/categories/{{ activeCategory }}/snippets/{{ currentSnippet.id }}?_method=DELETE" method="POST">
          <button class="actions__delete" type="submit">Remover</button>
        </form>
      </div>
      <h1>{{ currentSnippet.title }}</h1>
        <div class="content">
          {{currentSnippet.content | safe}}
        </div>
    </section>

    <div class="modal" id="edit-snippet">
       <form class="modal-content" method="POST" action="/app/categories/{{ activeCategory }}/snippets/{{ currentSnippet.id }}?_method=PUT">
        <input type="text" name="title" placeholder="Título do Snippet" value="{{ currentSnippet.title }}" />
        <div class="content-container">
          <textarea type="text" name="content" class="mde" placeholder="Conteúdo do snippet">{{ currentSnippet.content }}</textarea>
        </div>
        <button type="submit">SALVAR SNIPPET</button>
        <a href="#" data-modal-close="#edit-snippet">CANCELAR</a>
      </form>
    </div>
  </div>
{% endblock %}
