{% extends 'layouts/default.njk' %}

{% block body %}
<link rel="stylesheet" href="/assetsPath/assets/styles/pages/dashboard.css">
<section class="dashboard">
    {% include 'partials/nav.njk' %}

</section>
{% endblock %}


{# <h1>Olá, {{ user.name }}</h1> <a href="/app/logout">sair</a> #}