{% for message in flashSuccess %}
  <div class="alert alert-success flashMessage">{{message}}</div>
{% endfor %}

{% for message in flashError %}
  <div class="alert alert-danger flashMessage">{{message}}</div>
{% endfor %}
