<html>
  <head>
  <meta charset="UTF-8">
  <title>Snippets</title>

    {# <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"> #}
    {# <link rel="stylesheet" href="/dracula.css"> #}

    <link rel="stylesheet" href="/assets/styles/main.css" >
  </head>
  <body>
    {# {% include 'partials/flash.njk' %} #}
    {% block body %} {% endblock %}
  {# <script src="/main.js"></script> #}
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"</script>
   </body>
</html>
