<html>
  <head>
  <meta charset="UTF-8">
  <title>Snippets</title>

    {# <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"> #}
    {# <link rel="stylesheet" href="/dracula.css"> #}
    <link href="/rootPath/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/rootPath/node_modules/simplemde/dist/simplemde.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="/assetsPath/assets/styles/main.css" >
  </head>
  <body>
    {# {% include 'partials/flash.njk' %} #}
   
    {% block body %}{% endblock %}

    <script src="/rootPath/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/rootPath/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/rootPath/node_modules/simplemde/dist/simplemde.min.js"></script>
    <script src="/assetsPath/assets/scripts/main.js"></script>
   </body>
</html>
