<html>
  <head>
  <meta charset="UTF-8">
  <title>Snippets</title>

    {# <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"> #}
    {# <link rel="stylesheet" href="/dracula.css"> #}
    <link rel="stylesheet" href="/assets/styles/main.css" >
    <link href="/rootPath/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  </head>
  <body>
    {# {% include 'partials/flash.njk' %} #}
    {% block body %} {% endblock %}
  {# <script src="/main.js"></script> #}
  <script src="/rootPath/node_modules/jquery/dist/jquery.min.js"</script>
  <script src="/rootPath/node_modules/bootstrap/dist/js/bootstrap.min.js"</script>
   </body>
</html>
