{% extends "layouts/default.njk" %}
{% block body %}
<link rel="stylesheet" href="/assetsPath/assets/styles/pages/categories.css">
  <section class="categories">
    {% include "partials/nav.njk" %}
    {% include "partials/listSnippets.njk" %}
  </section>
{% endblock %}
