{% extends "layouts/default.njk" %}

{% block body %}
    <h1>categories</h1>
  <div class="">
    {% include "partials/nav.njk" %}
    {# {% include "partials/snippets.njk" %} #}
  </div>

{% endblock %}
